<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Analytics Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

</head>

<body>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" height="28"> Analytics Dashboard</div>
    <ul class="nav-links">
      <li><a href="{{ url_for('welcome') }}">Overview</a></li>
      <li><a href="{{ url_for('users') }}">Users</a></li>
      <li><a href="{{ url_for('devices') }}">Devices</a></li>
      <li><a href="{{ url_for('countries') }}">Countries</a></li>
    </ul>
    <div class="nav-icons">
      <button class="theme-toggle" id="themeToggle">🌙</button>
      <span class="profile-icon">👤</span>
    </div>
  </nav>

  <!-- Page Content -->
  {% block content %}{% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/topojson-client@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-geo@4.4.0/dist/chartjs-chart-geo.min.js"></script>


  <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
</html>
